body{
    background-color: whitesmoke !important ;
}
.bd-example-modal-lg{
    display: block !important;
}

.modal-header{
    background-color: whitesmoke;
    justify-content: center !important;
}
.modal-title{
    padding-left: 20rem;
}
.modal-body>h5{
    font-weight: 400;
    color: grey;
    
}

.label-info {
    background-color: #5bc0de;
    display: inline-block;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
  }
.modal-footer{
    justify-content: flex-start !important;
}
.btn{
    font-size:1.2rem !important;
}
.btn-light{
    color:blue !important;
}

.bootstrap-tagsinput {
    border: 1px solid lightgray !important;
    border-radius: 0.25em;
}

.bootstrap-tagsinput input{
    min-width: 200px !important;
    padding: 5px 5px !important;
}

.profile-image{  
    width:28px; 
    height:28px;
    margin-right: 5px;
    border-radius: 50% !important;
 }

 .custom-tag{
    background-color: whitesmoke !important;
    color: black !important;
    border: 1px solid lightgrey !important;
    border-radius: 5px !important;
    padding: 3px 0px 0px 0px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    margin-left: 2px !important; 

 }

 .custom-tag>span{
     padding-left: 30px !important;
     position: relative !important;
     margin-top: 7.5px !important;
     vertical-align: middle !important;
 }